# the requirements to run the system in production
Django
django-source-revision
numpy
ldap3
mysqlclient
python-dateutil
# following first requires:
#     sudo apt-get install libxml2-dev libxslt1-dev
lxml
requests
cssselect
sshtunnel
psycopg2    # http://initd.org/psycopg/docs/install.html ?
django-inspectional-registration
markdown
docopt

