<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'reports/style.css' %}"/>
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'reports/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{% static 'reports/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'reports/favicon-16x16.png' %}">
</head>
<body>
{% include 'nav.html' %}
{% block content_title %}{% endblock %}
{% block contents %}
{% endblock %}
{% block footer %}
    <p>Version: {{ SOURCE_REVISION }}</p>
{% endblock %}
</body>
</html>