/* Images from: http://alvinalexander.com/design/html-css-sketch-prototyping */
/* UniMelb blue is #002952ff */
/* Consider:  */
/* https://blog.mariano.io/common-css-mistakes-and-how-to-fix-them-8ee0f5e88d64#.6hmkec9hz */
/* https://medium.freecodecamp.com/css-floats-explained-by-riding-an-escalator-57fa55232333 */

li a {
    color: green;
}

#iNav li:first-of-type a {
    padding: 0 8px 0 0;
}

#iNav li a {
    transition: color 200ms linear;
    font-family: 'alternate gothic', 'HelveticaNeueBoldCondensed',
    'HelveticaNeue-Bold-Condensed', 'Helvetica Neue Bold Condensed',
    'Haettenschweiler', 'impact', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    border: 0;
    line-height: 2em;
    color: #A8C5E0;
    text-decoration: none;
    padding: 0 8px 0;
    font-weight: normal;
    white-space: nowrap;
}

#iNav li a:hover {
    color: white;
}

#iNav li {
    display: inline;
    list-style-type: none;
    border-right: 1px solid #A8C5E0;
    float: left
}

#iNav ul {
    overflow: hidden;
}

/*
    iTop
        iLogo
        iNav
        iHeading
*/

#iNav, #iLogo {
    background-color: #002952;
}

#iNav {
    clear: right;
    height: 30px;
}

#iLogo img {
    width: 100px;
    height: 100px;
    background-color: #002952;
    float: left;
}

#iTop {
    background-color: #002952;
    color: white;
    height: 100px;
}

#iHeading {
    font-size: 2.5em;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    height: 70px;
}

#iReport {
    height: 100%;
}

body {
    background: url("images/bg-napkin.jpg");
}

body,
h1, h2, h3,
input[type="text"], input[type="password"], textarea, select,
input.submit {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: disc inside;
}

li {
    padding: 4px;
}

p {
    padding: 4px;
}

/* for regular tables, show a border */
table,
table th,
table td {
    border: 2px dotted #bfbfbf;
}

table th,
table td {
    padding: 4px;
}

/* table header background (for 'report' pages) */
table th {
    background: url(images/th-bg-5-white-bg.png);
}

table.form input {
    background-color: #f3f3f3;
}

/* hide svg elements that contain nothing */
svg:empty {
    display: none;
}

/**
 * FORMS
 */
input[type="submit"] {
    background: url(images/diag-stripes-right-to-left.png);
    border: dotted #888;
}

input[type="text"], textarea, input[type="email"], select {
    background: url(images/diag-stripes-right-to-left.png);
    border: dotted #777;
}

/* Button row */

.row {
    background-color: #26527f;
    height: 2em;
}

.size-select {
    background: url(images/down_arrow.png) no-repeat 95% 0;
    height: 2em;
}

.size-select select {
    background: transparent;
    border: none;
    font-size: 1em;
    height: 2em;
    width: 120px;
    font-family: 'alternate gothic', 'HelveticaNeueBoldCondensed',
    'HelveticaNeue-Bold-Condensed', 'Helvetica Neue Bold Condensed',
    'Haettenschweiler', 'impact', sans-serif;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="button"] {
    font-family: 'alternate gothic', 'HelveticaNeueBoldCondensed',
    'HelveticaNeue-Bold-Condensed', 'Helvetica Neue Bold Condensed',
    'Haettenschweiler', 'impact', sans-serif;
    font-size: 1em;
    color: #A8C5E0;
    border: none;
    background-color: #26527f;
    transition-duration: 0.4s;
    cursor: pointer;
    vertical-align: middle;
    height: 2em; /* match the .row that they are in... */
}

input[type="button"]:hover {
    color: white;
    font-weight: bold;
}

input[type="button"].active {
    color: white;
    border: none;
    font-weight: bold;
    text-decoration: underline;
}

.pull-right {
    float: right;
    padding: 0 8px 0;
}

/* Modal dialog */
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #FFFFE6;
}

.modalClose {
    background: #606061;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 1.5;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.modalClose:hover {
    background: #2952FF;
}

