/* Images from: http://alvinalexander.com/design/html-css-sketch-prototyping */
/* UniMelb blue is #002952ff */

li a {
    color: green;
}

body {
    background: url("images/bg-napkin.jpg");
}

body,
h1, h2, h3,
input[type="text"], input[type="password"], textarea, select,
input.submit {
    font-family: "Comic Sans MS", cursive;
}

/* for regular tables, show a border */
table,
table th,
table td {
    border: 2px dotted #bfbfbf;
}

table th,
table td {
    padding: 4px;
}

/* table header background (for 'report' pages) */
table th {
    background: url(images/th-bg-5-white-bg.png);
}

table.form input {
    background-color: #f3f3f3;
}

/**
 * FORMS
 */
input[type="submit"] {
    background: url(images/diag-stripes-right-to-left.png);
    border: dotted #888;
}

input[type="text"], textarea, input[type="email"], select {
    background: url(images/diag-stripes-right-to-left.png);
    border: dotted #777;
}

/* Button row */
/* we have two types of button: date range selection, and data center selection */
/* should the data center selection match the nvd3 selection style? */
input[type="button"] {
    background: url(images/diag-stripes-right-to-left.png);
    border: dotted #888;
}

input[type="button"].active {
    background: url(images/diag-stripes-left-to-right.png);
    border: solid #888;
}

.pull-right {
    float: right;
}

/* style for uptime chart */
.uptm_planned {
    fill: black;
}

.uptm_planned:hover {
    fill: grey;
}

.uptm_unplanned {
    fill: #d9534d;
}

.uptm_unplanned:hover {
    fill: #c9302c;
}

div.tooltip {
    position: absolute;
    text-align: left;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    padding-left: 0;
    width: auto;
    border: 0;
    border-left: thin solid #000000;
    pointer-events: none;
    line-height: 12px;
    padding-top: 0;
    display: block;
}

.uptm_ytitle {
    dominant-baseline: central;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
}
.uptm_axis path,
.uptm_axis line {
    display: none;
}

.uptm_axis text {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.uptm_vert_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.uptime_line {
    fill: #5cb85c;
}

.uptm_heading {
    font-size: 16px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}

.uptm_subheading {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.uptm_legend {
    dominant-baseline: central;
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.uptm_tooltip {
    display: inline-block;
    text-align: center;
    font-size: inherit;
    width: 1.28571429em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uptm_tooltip_check:before {
    color: #449d44;
    content: "✓";
}

.uptm_tooltip_cross:before {
    color: #c9302c;
    content: "✗";
}