{% extends 'base.html' %}
{% block title %}Reports{% endblock %}
{% block h1 %}Research Platforms Reporting{% endblock %}
{% block content %}
    <ul>
        <li>
            <a href="reports/?set=cloud">Cloud Reports</a>
        </li>
        <li>
            <a href="reports/?set=storage">Storage Reports</a>
        </li>
        <li>
            <a href="reports/">All Reports</a>
        </li>
        {% if user.is_superuser %}
            <li>
                <a href="{% url 'admin:index' %}">Admin Console</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}