{% extends 'base.html' %}
{% block title %}Reports{% endblock %}
{% block h1 %}Welcome to FlowReports!{% endblock %}
{% block content %}
    <ul>
        <li>
            <a href="reports/?set=cloud">Cloud Reports</a>
        </li>
        <li>
            <a href="reports/?set=storage">Storage Reports</a>
        </li>
        <li>
            <a href="reports/">All Reports</a>
        </li>
        <li>
            <a href="admin/">Admin Console</a>
        </li>
    </ul>

    <p>PS: it is now {{ current_date }}</p>
{% endblock %}